{% extends 'home.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog</title>
</head>

<body>
    <div class="container pt-5">
        <div style="height: 70px;"></div>
        <h2>crear nuevo blog</h2>
        <div class="container">
            <form method="post" style="display: flex;">
                {% csrf_token %}
                {{ form }}
                <div style="height: 20px;"></div>
                <input type="submit" value="Guardar" class="btn btn-primary">
            </form>
        </div>
        <div style="height: 20px;"></div>
        <a href="/blogs/" class="btn btn-primary">Volver</a>
        <div style="height: 70px;"></div>
    </div>

</body>
{% endblock %}