<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
</head>

<body style="width: 40rem;">
    <h1>Botella tras Botella</h1>
    <div style="width: 200rem;">
        <p>mejor tu recuerdo me lo bebo</p>
    </div>
</body>
<footer style="position: absolute;">
    <p>todos los derechos reservados 2023
    </p>
</footer>
</html>